<h1 style="text-align: center;">Vásárlási tételek</h1>
<!-- Filter panel -->
<div class="mt-3" *ngIf="filter">
    <div class="card col-12">
        <div class="card-body">
            <form #form="ngForm" class="mb-3" (ngSubmit)="listPurchaseItem()" autocomplete="off">

                <div class="row">

                    <!-- Id -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="form-group">
                            <label for="id">Azonosító</label>
                            <input type="number" pInputText name="id" [(ngModel)]="filter.id" class="form-control">
                        </div>
                    </div>

                    <!-- partnerCtID -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="form-group">
                            <label for="partnerCtID">Cikk azonosító</label>
                            <input type="number" pInputText name="partnerCtID" [(ngModel)]="filter.partnerCtID"
                                class="form-control">
                        </div>
                    </div>

                    <!-- quantity -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="form-group">
                            <label for="quantity">Mennyiség</label>
                            <input type="number" pInputText name="quantity" [(ngModel)]="filter.quantity"
                                class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">


                    <!-- gross -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="form-group">
                            <label for="gross">Bruttó</label>
                            <input type="number" pInputText name="gross" [(ngModel)]="filter.gross"
                                class="form-control">
                        </div>
                    </div>

                    <!-- Partner ID -->
                    <div class="col-12 col-md-3 mb-3">
                        <div class="form-group">
                            <label for="partnerID">Partner azonosító</label>
                            <input type="number" pInputText name="partnerID" [(ngModel)]="filter.partnerId"
                                class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Buttons -->
                    <div class="col-12 col-md-6 mb-3 ">
                        <div>
                            <p-button type="submit">Szűrés</p-button>
                            <p-button class="mx-2" type="button" (click)="resetFilters()">Szűrés visszavonása</p-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--  list table -->
<p-button type="button" styleClass="p-button-success mt-2" (click)="exportToCSV()"><i class="fa fa-download mx-2"></i>
    Export</p-button>
<p-button type="button" styleClass="p-button-success mx-2 mt-2" (click)="openCreateDialog()"> <i
        class="fa fa-plus mx-2"></i> Új vásárlási tétel</p-button>

<div class="mt-3">
    <p-table #shopTable [value]="purchaseItems" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '25rem'  }" currentPageReportTemplate="Összesen : {totalRecords}"
        [rowsPerPageOptions]="[5, 10, 25, 50]" styleClass="p-datatable-gridlines">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Azonosító <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="partnerCtID">Cikk azonosító <p-sortIcon field="partnerCtID"></p-sortIcon></th>
                <th pSortableColumn="purchaseID">Vásárlás azonosító <p-sortIcon field="purchaseID"></p-sortIcon></th>
                <th pSortableColumn="quantity">Mennyiség <p-sortIcon field="quantity"></p-sortIcon></th>
                <th pSortableColumn="gross">Bruttó <p-sortIcon field="gross"></p-sortIcon></th>
                <th pSortableColumn="partnerID">Partner azonosító <p-sortIcon field="partnerID"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.partnerCtID }}</td>
                <td>{{ item.purchaseID }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.gross }}</td>
                <td>{{ item.partnerID }}</td>
                <td style="text-align: right;" width="10">
                    <i class="fa fa-pencil fa-lg text-info" (click)="openEditDialog(item.id)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="text-center">
        <p-button type="button" [routerLink]="['/purchases']"
            styleClass="p-button-danger mx-auto mt-2">Vissza</p-button>
    </div>
</div>