<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="editShop()" autocomplete="off">
      <h3 class="text-center mt-2">Bolt szerkesztése</h3>
      <hr>
  <!-- Any error -->
      <div *ngIf="serverError" class="alert alert-danger">
        {{ serverError }}
      </div>
  
      <!-- Name -->
      <div class="mb-3">
        <label for="name">Név</label>
        <input type="text" pInputText  formControlName="name"  maxlength="200" class="form-control">
         <div *ngIf="editForm.get('name')?.errors && editForm.get('name')?.touched" class="text-danger">
           <p *ngIf="editForm.get('name')?.hasError('required')">Név megadása kötelező!</p>
         </div>
      </div>
  
      <!-- partner id -->
      <div class="mb-3">
        <label for="partnerId">Partner azonosító</label>
        <input type="number" pInputText  formControlName="partnerId"  maxlength="200" class="form-control">
        <div *ngIf="editForm.get('partnerId')?.errors && editForm.get('partnerId')?.touched" class="text-danger">
          <p *ngIf="editForm.get('partnerId')?.hasError('required')">Partner azonosító kötelező!</p>
        </div>
      </div>
  
      <!-- Buttons -->
      <div class="text-center">
        <p-button [disabled]="!editForm.valid" class="me-2" type="submit">Szerkesztés</p-button>
        <p-button styleClass="p-button-danger" (click)="cancel()" type="button">Mégse</p-button>
      </div>
    </form>
  </div>
  
  
  
  
  
  
  