<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="editItem()" autocomplete="off">
        <h3 class="text-center mt-2">Cikk szerkesztése</h3>
        <hr>
        <!-- Any error -->
        <div *ngIf="serverError" class="alert alert-danger">
            {{ serverError }}
        </div>



        <!-- articleNumber -->
        <div class="mb-3">
            <label for="articleNumber">Cikkszám</label>
            <input type="text" pInputText formControlName="articleNumber" maxlength="200" class="form-control">
            <div *ngIf="editForm.get('articleNumber')?.errors && editForm.get('articleNumber')?.touched"
                class="text-danger">
                <p *ngIf="editForm.get('articleNumber')?.hasError('required')">Cikkszám megadása kötelező!</p>
            </div>
        </div>

        <!-- barcode -->
        <div class="mb-3">
            <label for="barcode">Vonalkód</label>
            <input type="text" pInputText formControlName="barcode" maxlength="200" class="form-control">
            <div *ngIf="editForm.get('barcode')?.errors && editForm.get('barcode')?.touched" class="text-danger">
                <p *ngIf="editForm.get('barcode')?.hasError('required')">Vonalkód megadása kötelező!</p>
            </div>
        </div>


        <!-- Name -->
        <div class="mb-3">
            <label for="name">Név</label>
            <input type="text" pInputText formControlName="name" maxlength="200" class="form-control">
            <div *ngIf="editForm.get('name')?.errors && editForm.get('name')?.touched" class="text-danger">
                <p *ngIf="editForm.get('name')?.hasError('required')">Név megadása kötelező!</p>
            </div>
        </div>

        <!-- quantitativeUnit -->
        <div class="mb-3">
            <label for="quantitativeUnit">Mennyiségi egység</label>
            <input type="text" pInputText formControlName="quantitativeUnit" maxlength="200" class="form-control">
            <div *ngIf="editForm.get('quantitativeUnit')?.errors && editForm.get('quantitativeUnit')?.touched"
                class="text-danger">
                <p *ngIf="editForm.get('quantitativeUnit')?.hasError('required')">Mennyiségi egység megadása kötelező!</p>
            </div>
        </div>

             <!-- netPrice -->
             <div class="mb-3">
                <label for="netPrice">Nettó egységár</label>
                <input type="number" pInputText formControlName="netPrice" maxlength="200" class="form-control">
                <div *ngIf="editForm.get('netPrice')?.errors && editForm.get('netPrice')?.touched"
                    class="text-danger">
                    <p *ngIf="editForm.get('netPrice')?.hasError('required')">Nettó egységár megadása kötelező!</p>
                </div>
            </div>

              <!-- version -->
              <div class="mb-3">
                <label for="version">Verzió</label>
                <input type="number" pInputText formControlName="version" maxlength="200" class="form-control">
                <div *ngIf="editForm.get('version')?.errors && editForm.get('version')?.touched"
                    class="text-danger">
                    <p *ngIf="editForm.get('version')?.hasError('required')">Verzió megadása kötelező!</p>
                </div>
            </div>

        <!-- partner id -->
        <div class="mb-3">
            <label for="partnerId">Partner azonosító</label>
            <input type="number" pInputText formControlName="partnerId" maxlength="200" class="form-control">
            <div *ngIf="editForm.get('partnerId')?.errors && editForm.get('partnerId')?.touched"
                class="text-danger">
                <p *ngIf="editForm.get('partnerId')?.hasError('required')">Partner azonosító kötelező!</p>
            </div>
        </div>

        <!-- Buttons -->
        <div class="text-center">
            <p-button [disabled]="!editForm.valid" class="me-2" type="submit">Mentés</p-button>
            <p-button styleClass="p-button-danger" (click)="cancel()" type="button">Mégse</p-button>
        </div>
    </form>
</div>