<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="editPurchase()" autocomplete="off">
        <h3 class="text-center mt-2">Vásárlás szerkesztése</h3>
        <hr>
        <!-- Any error -->
        <div *ngIf="serverError" class="alert alert-danger">
            {{ serverError }}
        </div>

        <!-- purchaseAmount -->
        <div class="mb-3">
            <label for="purchaseAmount">Vásárlás összeg</label>
            <input type="number" pInputText formControlName="purchaseAmount"  class="form-control">
            <div *ngIf="editForm.get('purchaseAmount')?.errors && editForm.get('purchaseAmount')?.touched"
                class="text-danger">
                <p *ngIf="editForm.get('purchaseAmount')?.hasError('required')">Vásárlás összeg megadása kötelező!</p>
            </div>
        </div>

        <!-- cashRegisterId -->
        <div class="mb-3">
            <label for="cashRegisterId">Pénztárgép azonosító</label>
            <input type="number" pInputText formControlName="cashRegisterId"  class="form-control">
            <div *ngIf="editForm.get('cashRegisterId')?.errors && editForm.get('cashRegisterId')?.touched"
                class="text-danger">
                <p *ngIf="editForm.get('cashRegisterId')?.hasError('required')">Pénztárgép azonosító megadása kötelező!
                </p>
            </div>
        </div>

        <!-- partner id -->
        <div class="mb-3">
            <label for="partnerId">Partner azonosító</label>
            <input type="number" pInputText formControlName="partnerId"  class="form-control">
            <div *ngIf="editForm.get('partnerId')?.errors && editForm.get('partnerId')?.touched" class="text-danger">
                <p *ngIf="editForm.get('partnerId')?.hasError('required')">Partner azonosító kötelező!</p>
            </div>
        </div>

        <!-- Buttons -->
        <div class="text-center">
            <p-button [disabled]="!editForm.valid" class="me-2" type="submit">Szerkesztés</p-button>
            <p-button styleClass="p-button-danger" (click)="cancel()" type="button">Mégse</p-button>
        </div>
    </form>
</div>